.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem 0.5rem;

  &__item {
    @include button($g-color-main, $g-color-main-light, $g-color-main, $g-color-white);
  }
}
