.container {
  margin: 0 auto;
  max-width: 1024;
  padding: 0 1em 1.5em;
}

footer {
  margin-top: 3em;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;

  & > a {
    margin: 0 1em 0.5em 1em;
  }
}