.link-list {
  
}

.link-list-link {
  display: inline-block;
  text-decoration: none;
  color: $g-color-tag;
  font-weight: bold;

  transition: all $trans-spd-fast;

  // Underline animation on hover
  &::after {
    display: block;
    content: "";
    border-bottom: solid 2px $g-color-tag;
    transform: scaleX(0);
    transition: all $trans-spd-med;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
