.tag {
  display: inline-block;
  text-decoration: none;
  color: $g-color-tag;
  font-weight: bold;
  font-size: small;

  @include transition-fast();

  // Underline animation on hover
  &::after {
    display: block;
    content: "";
    border-bottom: solid 2px $g-color-tag;
    transform: scaleX(0);
    @include transition();
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
