@mixin underline-grow-on-hover($color) {
  &::after {
    display: block;
    content: "";
    border-bottom: solid 2px $color;
    transform: scaleX(0);
    transition: transform $trans-spd-med ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

@mixin button($color1, $color2, $inactive-text-color, $active-text-color) {
  padding: 5px 20px;
  font-weight: bold;
  text-align: right;

  color: $inactive-text-color;

  // Border
  border-style: solid;
  border-width: 2px;
  border-color: $color1;
  border-radius: $g-border-radius;

  // Background
  background: linear-gradient(-45deg, $color2 50%, $color1 50%);
  background-size: 250% 250%;
  background-position: 100% 50%;

  transition: all $trans-spd-slow;

  &:hover {
    background-position: 80% 50%;
    transition: all $trans-spd-slow;
  }

  &.active {
    color: $active-text-color;
    background-position: 0% 50%;
    background-color: $color1;
    transition: all $trans-spd-slow;
  }
}
