@mixin underline-grow-on-hover($color) {
  &::after {
    display: block;
    content: "";
    border-bottom: solid 2px $color;
    transform: scaleX(0);
    transition: transform $trans-spd-med ease-in-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
