$g-color-white: #ffffff;
$g-color-off-white: #f8f8f8;
$g-color-light-grey: #dfdfdf;

$g-color-main: #307ee4;
$g-color-main-light: #d4e3f0;

$g-color-dark: #2b2b2b;
$g-color-darker: #1a1a1a;

$g-color-tag: #00dfb7;

$g-border-radius: 5px;
$g-border-radius-lg: $g-border-radius * 2;

$trans-spd-fast: 100ms;
$trans-spd-med: 250ms;
$trans-spd-slow: 400ms;

$breakpoint: 768px;
