.articles-filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.searchbox {
  padding: 5px 20px;
  min-height: 30px;
  border-radius: 5px;
  border: solid 1px $g-color-dark;
  font-style: italic;
  background-color: $g-color-white;

  &:focus {
    border-color: $g-color-main;
  }
}
