.snippets-page-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.snippets-category-list {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 5px 20px;
    margin-bottom: 1px;

    color: $g-color-main;
    font-weight: bold;
    text-align: right;

    border-style: solid;
    border-width: 0 5px 0 0;
    border-color: $g-color-main-light;

    background: linear-gradient(
      90deg,
      transparent 50%,
      $g-color-main-light 50%
    );
    background-size: 200% 100%;
    background-position: 0% 50%;
    transition: all $trans-spd-slow;

    &:hover {
      border-color: $g-color-main;
      background-position: 100% 50%;
      transition: all $trans-spd-slow;
    }
  }
}
