$gunmetal: #333745ff;
$paradise-pink: #e63462ff;
$orange-red-crayola: #fe5f55ff;
$aero-blue: #c7efcfff;
$beige: #eef5dbff;

/* SCSS HEX */
$gunmetal: #333745ff;
$dodger-blue: #1098f7ff;
$pink-lavender: #e4b7e5ff;
$african-violet: #b288c0ff;
$tea-green: #c9e4caff;

/* SCSS HEX */
$gunmetal: #333745ff;
$dodger-blue: #1098f7ff;
$aquamarine: #7ae7c7ff;
$green-sheen: #75bba7ff;
$maximum-yellow-red: #ffc857ff;
